<?xml version="1.0"?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=.;Initial Catalog=STOCK_old;User ID=BMIDP;Password=BMIDP" />
    <add name="S_61.Properties.Settings.LONGConnectionString" connectionString="Data Source=.;Initial Catalog=LONG;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="S_61.Properties.Settings.STOCKConnectionString" connectionString="Data Source=.;Initial Catalog=STOCK;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="S_61.Properties.Settings.STOCKConnectionString1" connectionString="Data Source=.;Initial Catalog=STOCK;User ID=BMIDP"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="DLL"/>
    </assemblyBinding>
  </runtime>
  
</configuration>

